// Non-modular or client styles for .l-header region.
header {
  .header-inner {
    max-width:$global-width;
    margin-left: auto;
    margin-right:auto;
    padding: 70px 20px 40px 20px;
  }
}

.title-bar{
  .title-bar-title {
    margin: auto;
    font-family: "Lemon/milk";
    font-weight: bold;
    img {
      max-height: 40px;
    }
  }
}

