[...]
      {% if page.footer_first or page.footer_middle or page.footer_last %} 
        <footer class="row expanded"> 
          <div class="row footer-menus"> 
            {% if page.footer_first %} 
              <div id="footer-first" class="large-4 columns"> 
                {{ page.footer_first }} 
              </div> 
            {% endif %} 
            {% if page.footer_middle %} 
              <div id="footer-middle" class="large-4 columns"> 
                {{ page.footer_middle }} 
              </div> 
            {% endif %} 
            {% if page.footer_last %} 
              <div id="footer-last" class="large-4 columns"> 
                {{ page.footer_last }} 
              </div> 
            {% endif %} 
          </div> 
        </footer> 
      {% endif %} 
      <div class="bottom-bar panel"> 
        <div class="row"> 
          <div class="small-12 medium-5 columns"> 
            <ul class="bottom-links"> 
              <li><a href="/privacy">Privacidad</a></li> 
            </ul> 
          </div> 
          <div class="small-12 medium-2 columns footer-logomark"> 
            <img width="70px" src="{{ logo }}"/> 
          </div> 
          <div class="small-12 medium-5 columns copyright"> 
          <div class="copyleft">&copy;</div><!--&#127279; &#x1f12f;--> {{ "now"|date('Y') }} {{ site_name }} {{ 'All rights reversed.'|t }} 
          </div> 
        </div> 
      </div>
[...]
