.sticky-container{
  z-index:1;
}

.top-bar{
  border-bottom: 1px solid #e6e6e6;
  z-index: 1;
  //box-shadow: 0 5px 0px 0px #ccc, 0 8px 0px 0px white,0 9px 0px 0px #ccc;
  .top-bar-left a {
    padding:0px;
  }
  .logo {
    transition: all 0.5s ease;
  }
  &.shrink {
    .logo{
      width:40%;
    }
  }
  a {
    color: $dark-gray;
    transition: color 0.5s ease;
    display: block;
  }
  a:hover {
    color: darken($dark-gray, 50%);
    transition: color 0.5s ease;
  }
  h1 a{
    display: inline-block;
  }
  h1{
    margin-bottom:-18px;
  }
  small{
    text-align:center;
  }
  li a{
    font-family: "Lora", Georgia, serif;
    font-weight:bold;
  }
  .submenu li a {
    font-weight:400;
  }

}
